*{ 
    margin: none;
}


.main-section{
    text-align: center;
    padding-top: 50px;
    /* background-color:darkgrey; */
}

.main-description{
    padding: 0 160px;
}

.btm button{
    /* padding: 0 30px; */
    margin: 0  10px;
    width: 100px;
    height: 70px;
    /* background-color: rgb(216, 57, 57); */
    margin: 2px solid;

    
}
.btm button:hover{
    background-color: red;
}
#ii{
    border: 2px solid red;
}

.main-description2{
    padding: 0 60px;
}

.small{
    font-size: 12px;
}


.ner{
    display: flex;
    gap: 20px;   
    margin: 50px 40px;
    /* background-color: gray; */
}
.kk1{
    background-color:turquoise ;
    padding: 10px 30px;


}

#kk3{
    background-color:plum;
    padding: 10px 30px; 
}

#kk2{
    padding: 10px 30px;
    background-color: lightyellow;
}