*{ 
    margin: none;
}


.main-section{
    text-align: center;
    padding-top: 50px;
    /* background-color:darkgrey; */
}

.main-description{
    padding: 0 160px;
}

.btm button{
    margin: 0  10px;
    width: 100px;
    height: 70px;
    margin: 2px solid;

    
}
.btm button:hover{
    background-color: red;
}
#ii{
    border: 2px solid red;
}

.main-description2{
    padding: 0 60px;
}

.small{
    font-size: 12px;
}


.ner{
    display: flex;
    gap: 20px;   
    margin: 50px 40px;
    /* background-color: gray; */
}
.kk1{
    background-color:turquoise ;
    padding: 10px 30px;


}

#kk3{
    background-color:plum;
    padding: 10px 30px; 
}

#kk2{
    padding: 10px 30px;
    background-color: lightyellow;
}

.lala{
    padding: 0 300px;
    padding-top: 30px;
}


/* yy styles */

.yy1{
    display: flex;
    gap: 40px;

}


.yy1{
    padding-left: 80px;
}

.yy3{
    padding-right: 80px;
    padding-top: 30px;
}


.btm2{
    color: azure;
    background-color: orangered;
    border: none;
    border-radius: 2px;
    font-size: 24px;
    height:40px;
    margin-bottom: 100px;
}
.btm2:hover{
    background-color: green;
}

.tt1{
    display: flex;
    padding: 0 100px;
    gap: 80px;
}

.tt2{
    padding-top: 30px;
}

.hh1{
    font-size: small;
}

/* last section */

.last1{
    text-align: center;
    padding: 0 180px;
}

.last{
    margin:100px 150px ;
    background-color: lightyellow;
    text-align: center;
    padding-top:80px ;
}

#email{
    color:white;
    background-color: lightgray;
    height: 30px;
    padding-top: 7px;
    width: 30%;
}

